@model ProjectPlanner.Models.LoginViewModel;
@{
    ViewData["Title"] = "GetPassword";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<h1>GetPassword</h1>
<form asp-action="GetPassword">
    @if (ViewBag.FetchPassword != null)
    {
        <div class="form-group" style="color:green;">@ViewBag.FetchPassword</div>
    }
    <div class="form-group">
        <label asp-for="UserNameOrEmail" class="control-label"></label>
        <input asp-for="UserNameOrEmail" class="form-control" />
        <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Get Password" class="btn btn-primary text-center mt-5" id="btnGetPassword" />
    </div>
</form>

